body {
    background-color: #ced4da;
    margin: 0px;
    width: 100%;
    font-family: 'Roboto', system-ui,-apple-system, BlinkMacSystemFont,Arial, sans-serif; 
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

button {
    height: 35px;
    width: 100px;
    border: 0;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    background-color: #1992D4;
}

#main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 200px;
    height: 100px;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    box-shadow: 3px 3px 3px #adb5bd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-weight: bold;
}

.author,
.pages,
.read {
    font-size: 0.8em;
}

dialog {
    width: 400px;

}

.form-inputs {
    display: grid;
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.radio-inputs {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-template-rows: 25px 25px;
    justify-items: left;
    align-items: center;
    margin-bottom: 15px;
}